// ヘッダー
// #header{
// 	transition: all 2s;
// }

.c-header{
	width: 100vw;
	height: auto;
	background: $main-color--w;
	// padding: 5px 0px 10px;
	box-sizing: border-box;
	transition: padding .3s;
	@include min(768){
		padding: 15px 0px 0px;
	}
	&.-fixed{//固定
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}
	&-wrapper{
		position: relative;
		align-items: center;
		width: 95%;
		height: auto;
		padding: 18px 0px 16px;
		margin: auto;
		// background: #bfbebe2e;
		@include min(768){
			width: 90%;
			max-width: 1100px;
			padding: 0;
		}
		@include min(1600){
			width: 70.4%;
		}
		&::after{
			content: "";
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateX(-50%);
			width: 100vw;
			height: 1px;
			background: $main-color--b;
		}
	}
	&__popArea{//上部
		width: 100%;
		height: auto;
		// height: 125px;
		.c-header__lists{
			@include min(768){
				display: flex;
				flex-wrap: nowrap;
			}
			li{
				&.logo{
					width: 50%;
					height: auto;
					margin: auto auto auto 0;
					@include min(768){
						width: calc(72%);
						margin: auto;
						img{vertical-align: baseline;}
					}
				}
				// &.salescopy{
				// 	width: calc(52%);
				// 	height: auto;
				// 	// height: auto;
				// 	background: rgb(224, 112, 112);
				// }
				&.c-header__contactArea{
					@include max(768){
						display: none;
					}
					@include min(768){
						display: grid; 
						grid-template-rows: 1.5fr 1fr;
						grid-template-columns: 1fr 1fr;
						align-items: center;
						width: calc(28%);
						// height: 6vw;
					}
					@include min(1600){
						// height: 7.75vw;
						// height: 6.45vw;
					}
					.top-left{
						grid-column: 1/2;
						grid-row: 1/2;
					}
					.top-right{
						grid-column: 2/3;
						grid-row: 1/2;
					}
					.tag{
						grid-column: 1/3;
						grid-row: 2/3;
					}
					position: relative;
					&::before{
						content: "";
						position: absolute;
						top: 30%;
						left: 50%;
						transform: translate(-50%, -50%);
						height: 40%;
						width: 1px;
						background: $main-color--b;
					}
					&::after{
						content: "";
						position: absolute;
						top: 55%;
						// top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						height: 1px;
						width: 98%;
						background: $main-color--b;
					}
				}
			}
		}
	}
	&__navArea{//下部
		.c-header__navLists{
			height: 100%;
			@include min(768){
				display: flex;
				flex-wrap: nowrap;
				li{
					position: relative;
					width: calc(100%/8);
					height: auto;
					// padding: 2.1% 0;
					background: $main-color--w;
					transition: .5s all;
					&:hover{
						background: $site-color01;
						a,span{color: $main-color--w !important;}
					}
					&:first-child{
						&::before{
							content: "";
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							height: 100%;
							width: 1px;
							background: $main-color--b;
						}
					}
					&::after{
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						height: 100%;
						width: 1px;
						background: $main-color--b;
					}
					a{
						display: block;
						width: 100%;
						height: 100%;
						padding: 15% 0;
					}
					&.-active{
						background: $site-color02;
						pointer-events: none;
						a,span{
							color: $main-color--w;
						}
					}
					// SOLD OUT時に使用する
					&.-grayOutItem{
						pointer-events: none;
					}
				}
			}
		}
	}
}